*.mp3
/csextract/
/Ctemp/
/msu_hard/map/Ctemp/
*.ogg
*.tmp
*.txt
*.chk
msu_hard/map/Ctemp/TRIGP0.chk
msu_hard/map/Ctemp/TRIGP1.chk
msu_hard/map/Ctemp/TRIGP2.chk
msu_hard/map/Ctemp/TRIGP3.chk
msu_hard/map/Ctemp/TRIGP4.chk
msu_hard/map/Ctemp/TRIGP5.chk
msu_hard/map/Ctemp/TRIGP6.chk
msu_hard/map/Ctemp/TRIGP7.chk
msu_hard/map/Ctemp/TRIGP8.chk
msu_hard/map/Ctemp/TRIGP0.chk
